<section class="fontRaleway" id="menu">
    <h2>OUR MENU</h2>
    <div class="our-menu">
        <div>
            <img src="assets/img/R1.png" alt="">
            <div>
                <h3>Tonkatsu Ramen</h3>
                <table>
                    <tr>
                        <th>CHICKEN</th>
                        <th>11.95€</th>
                    </tr>
                    <tr>
                        <th>BEEF</th>
                        <th>12.95€</th>
                    </tr>
                    <tr>
                        <th>SHRIMP</th>
                        <th>13.95€</th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="justify-end">
            <img src="assets/img/R2.png" alt="">
            <div>
                <h3>Tonkatsu Ramen</h3>
                <table>
                    <tr>
                        <th>CHICKEN</th>
                        <th>11.95€</th>
                    </tr>
                    <tr>
                        <th>BEEF</th>
                        <th>12.95€</th>
                    </tr>
                    <tr>
                        <th>SHRIMP</th>
                        <th>13.95€</th>
                    </tr>
                </table>
            </div>
        </div>
        <div>
            <img src="assets/img/R3.png" alt="">
            <div>
                <h3>Tonkatsu Ramen</h3>
                <table>
                    <tr>
                        <th>CHICKEN</th>
                        <th>11.95€</th>
                    </tr>
                    <tr>
                        <th>BEEF</th>
                        <th>12.95€</th>
                    </tr>
                    <tr>
                        <th>SHRIMP</th>
                        <th>13.95€</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>